.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

li a {
  display: flex;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar {
  overflow: hidden;
  display: flex;
  justify-content: right;
  background-color: #61dafb;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-link-custom {
  color: #000000;
  transition: background 0.3s;
}

.nav-link-custom.active {
  background-color: #383c41ff;
  color: #ffffff;
}

.brand-card {
  height: 250px;
  /* same for all cards */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.brand-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.link-hover {
  transition: transform 0.4s ease, color 0.4s ease;
  /* smooth scaling + color */
}

.link-hover:hover {
  transform: scale(1.1);
  color: #ff5733;
  text-decoration: underline;
}